.main {
    background: #efefef;
    min-height: 100vh;
    width: 100%;

    .container-left {
        min-height: 100vh;
        background: #404149;
    }

    .form {
        margin-top: 40px;
    }

    .padding-content {
        padding: 40px;
    }
    
}
.custom-select {
    color: #ffffff;
    &:before {
        border-color: #4e4f58 !important
    }
    .arrow {
        fill: #ffffff !important;
    }
    #select-product {
        color: #ffffff !important
    }
}

.transition {
    transition: 0.3s;
}
.grid {
    width: 100% !important;
    margin: 0 !important;
}
